<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>fj21-agendaPlus</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>servletOiMundo</servlet-name>
  	<servlet-class>
  		br.com.caelum.servlet.OiMundo
  	</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>servletOiMundo</servlet-name>
  	<url-pattern>/oiMundo</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/erro.html</location>
  </error-page>
  
  <!-- a página de erro não está sendo chamada devido ao código de erro não estar sendo reconhecido -->
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/e404.html</location>
  </error-page>
  
</web-app>